:root {
    --phone-frame-margin-x: 16px;
    --phone-frame-margin-top: 92px;
    --game-frame-height: calc(100vh - 80px); /* 视口高度减去 80px */
    --game-frame-width: min(100vw, 375px);
}

@media (max-width: 576px) {
        body {
                margin: 0;
                padding: 0;
                overflow-x: hidden; 
            }
        
            .image-container {
                height: var(--game-frame-height); 
                width: var(--game-frame-width);
                margin: var(--phone-frame-margin-top) auto 0;
                max-width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f0f0f0;
                overflow: hidden;
            }
        
            .simplebar-wrapper {
                height: inherit;
                max-height: inherit; 
                max-width: inherit; 
                overflow: hidden; 
                width: inherit; 
            }
        
            .simplebar-content {
                max-height: 100%; 
                max-width: 100%; 
                overflow: auto; 
            }
        }
