* {
    padding:0;
    margin:0;
}

header {
    background-color:rgba(35,28,26,0.5);
    height:60px;
    width:100%;
    position:fixed;
    text-align: center; 
}

body {
  font-family: Arial, sans-serif;
}



h1 {
    margin-top: 100px
    color: #333;
}

h2 {
    text-align: center;
}

.introduction {
    
    background-image:  url("images/7-removebg.png");
    color:white;
    height:97.75vh;
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center bottom;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
} 

.introduction h2 {
    font-size:60px;

} 
.introduction p {
    color:#FEF7E6;
    font-size:18px;
    margin:25px 0;
    text-align: center;
}



.question {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    height:50vh;
    max-width: 600px; 
    margin: auto; 
    padding: 20px;
    background-color: #f0f8ff; /
    border-radius: 80px; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
    
}

.question p {
    text-align: left; /* 讓文字左對齊 */
    margin: 0; /* 清除段落的默認外邊距 */
    margin-left: 20px; /* 將文字水平位移 20 像素 */
}

.question label {
    text-align: left;
    display: block; /* 将标签设为块级元素，使其单独占据一行 */
     margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px; /* 添加底部间距 */
}

.question input[type="radio"] {
    margin-right: 5px; /* 调整单选按钮与标签文本之间的间距 */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
    background-color:#000000;
    color:#B7B7B7;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

/* 響應式設計語法 */
@media screen and (max-width: 768px) {
header ul {
    display:none;
}
header h1 {
    left:50%;
    transform: translateX(-50%);
}
.news h2 {
    font-size:40px;
}
.menu {
    display:block;
    background-color: transparent;
    color:white;
    font-size: 35px;
    position:absolute;
    top:15px;
    left:20px;
    border:none;
    cursor: pointer;
}
.shop {
    flex-direction: column;
}
.shop img {
    width:100%;
}
.info {
    width:100%;
    padding:40px 0;
}
.info h2 {
    font-size:30px;
}
.product {
    flex-direction: column;
    padding: 60px 0;
}
.product div {
    margin-bottom: 30px;
}
}