@media (max-width: 576px) {
    :root {
        --image-container-height: calc(var(--vh, 1vh) * 100);
        --image-container-width: 100vw;
    }

    .image-container {
        height: var(--image-container-height);
        width: var(--image-container-width);
    }
}
